@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
}

main {
    width: 100%;
    font-size: larger;
    transform: skew(-10deg) rotate(-10deg);
}
